/* Fonts */
/* Importation de la police "Poppins" depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes par défaut */
    box-sizing: border-box; /* Inclut les bordures et paddings dans les dimensions */
    text-decoration: none; /* Supprime les décorations de texte (ex. soulignement des liens) */
    list-style: none; /* Supprime les puces des listes */
    font-family: 'poppins'; /* Applique la police "Poppins" à tous les éléments */
}

.container{
    min-height: 100vh; /* Définit une hauteur minimale correspondant à la hauteur de la fenêtre */
    width: 100%; /* Occupe toute la largeur disponible */
    background: url(Image-BG1.jpeg); /* Définit une image d'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image d'arrière-plan */
    position: relative; /* Positionne le conteneur pour permettre le positionnement absolu d'enfants */
}

.header{
    min-height: 80px; /* Définit une hauteur minimale pour l'en-tête */
    width: 100%; /* Occupe toute la largeur disponible */
    display: flex; /* Utilise flexbox pour aligner les éléments enfants */
    justify-content: space-between; /* Ajoute un espace égal entre les éléments enfants */
    align-items: center; /* Centre les éléments verticalement */
    padding: 0 8%; /* Ajoute un espacement horizontal */
    z-index: 9; /* Positionne l'en-tête au-dessus des autres éléments */
}

.logo a{
    font-size: 2.5rem; /* Définit une taille de police pour le logo */
    font-weight: 600; /* Applique un poids de police semi-gras */
    color: #ffffff; /* Définit la couleur du logo en blanc */
}

ul li{
    display: inline-block; /* Affiche les éléments de liste sur une seule ligne */
}

ul li a{
    margin: 0 20px; /* Ajoute un espacement horizontal entre les liens */
    font-size: 1.3rem; /* Définit une taille de police pour les liens */
    color: #ffffff; /* Définit la couleur des liens en blanc */
    transition: .6s; /* Applique une transition de 0,6 seconde pour les effets */
    position: relative; /* Positionne les liens pour permettre des pseudo-éléments relatifs */
}

ul li a:after{
    position: absolute; /* Place le pseudo-élément par rapport au lien */
    content: ''; /* Crée une ligne décorative sous le lien */
    height: 3px; /* Définit la hauteur de la ligne */
    width: 0%; /* La ligne est invisible au départ */
    top: 100%; /* Positionne la ligne juste sous le texte */
    right: 0; /* Aligne à droite */
    background-color: #27a7a7; /* Couleur de la ligne */
    border-radius: 3px; /* Arrondi les extrémités de la ligne */
    transition: .3s; /* Transition pour les changements de largeur */
}

ul li a:hover:after{
    width: 100%; /* Étend la ligne sur toute la largeur du lien au survol */
}

ul li a:hover{
    color: #27a7a7; /* Change la couleur du lien au survol */
}

#particles-js {
    position: absolute; /* Place l'élément en arrière-plan */
    top: 0; /* Aligne en haut */
    left: 0; /* Aligne à gauche */
    height: 100vh; /* Occupe toute la hauteur visible */
    width: 100%; /* Occupe toute la largeur visible */
    z-index: 1; /* Place derrière les autres éléments */
}

.header .fa-bars {
    padding: 16px; /* Espacement interne */
    z-index: 9; /* Place au-dessus d'autres éléments */
    font-size: 19px; /* Taille de l'icône */
    color: #ffffff; /* Couleur blanche pour l'icône */
    cursor: pointer; /* Affiche un pointeur au survol */
    border: 1px solid #ffffff; /* Ajoute une bordure blanche */
    backdrop-filter: blur(5px); /* Applique un flou à l'arrière-plan */
    display: none; /* Cache l'élément par défaut */
}

button {
    width: 200px;
    height: 45px;
    margin: 50px 0;
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(90deg, rgb(255, 200, 127) 0%, rgb(255,183, 89)70%);
    cursor: pointer;
    border: none;
    position: relative;
    transition: .6s;
    z-index: 1;
        &:hover{
            box-shadow: 5px 6px 5px #c49b66;
    }
}

.hero-btn button::after{
    content: '';
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 105%;
    border: 1px solid #c49b66;
    z-index: -1;
}

.btn{
    height: 100px;
    width: 100px;
    background-color: #c49b66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icone {
    width: 50px;
}

.Hero-Header{
    padding: 9% 8%;
    z-index: 9 !important;
    font-size: 2rem;
}

.Hero-Header h1 {
    color: #fff;
    z-index: 9 !important;
    margin: 60px;
    font-size: 5.5rem;
}

.Hero-Header h1 span {
    background: linear-gradient(90deg, rgb(255, 200, 127) 0%, rgb(255,183, 89)70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .Hero-Header h3 {
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
 }

 #text{
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
 }

 .social{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
 }

 .social i {
    font-size: 24px;
    padding: 14px 15px;
    background: linear-gradient(90deg, rgb(255, 200, 127) 0%, rgb(255,183, 89)70%);
    cursor: pointer;
    position: relative;
 }

 .social i::after {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 110%;
    height: 110%;
    border: 1px solid #c49b66;
 }

 .social i:nth-child(1):after{
    animation-delay: 0.2s;
    animation: rotate 5s infinite alternate;
 }

 .social i:nth-child(2):after{
    animation-delay: 0.5s;
    animation: rotate 5s infinite alternate-reverse;
 }

 .social i:nth-child(3):after{
    animation-delay: 1s;
    animation: rotate 4s infinite alternate;
 }

 .social i:nth-child(4):after{
    animation-delay: 1.2s;
    animation: rotate 4.2s infinite alternate-reverse;
 }

 @keyframes rotate {
    100%{
        transform: translate(-50% , -50%) rotate(360deg);
    }
 }

@media (max-width:1100px) {
    .header{
        position: relative;
        background-color: #050f19;
    }
    .header .fa-bars{
        display: block;
    }
    .header button{
        margin-left: 100px;
    }

    ul{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255,255,255,0.2);
        z-index: 999;
        border-bottom: 0.1px solid rgba(131, 131, 131, 1);
        backdrop-filter: blur(100px);
        width: 100%;
        opacity: 0;
        transition: .3s;
    }

    .fa-bars{
        display: block;
    }

    ul li{
        display: block;
        margin: 10px 0;
        padding: 15px 6%;
        border-bottom: 0.1px solid #999;
    }

    ul li a{
        font-size: 1.5rem;
    }
    
    ul li:last-child{
        border: none;
    }

    .show{
        opacity: 1;
    }
    .container{
        background-position: center;
    }
}